@import "config";
/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Header
*/

/*
  • Header
  ---------- ---------- ---------- ---------- ----------
*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: to-rem(40);
  padding-bottom: to-rem(15);

  .logo {
    max-width: 270px;

    svg{
      height: 90px;
      width: auto;
    }
  }
}

.search {
  &__bar {
    display: flex;
    position: relative;
    background: get-color('light-gray');
    padding: to-rem(15);
    border-radius: $default-border-radius;
    color: get-color('gray');

    button {
      border: none;
      background: none;
      margin-left: to-rem(5);

      svg {
        width: to-rem(30);
        height: to-rem(30);
      }
    }

    input {
      border: none;
      background: none;
      width: 100%;
      padding: 0;
      font-size: to-rem(16);
      color: #000;
      outline: none;

      &::placeholder {
        color: get-color('gray');
      }
    }
  }
}

.active-tags {
  margin: to-rem(10) 0;
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: to-rem(10) to-rem(10);
  }

  &__item {
    border-radius: $default-border-radius;
    color: #fff;
    padding: to-rem(10);
    display: flex;
    align-items: center;
    text-transform: capitalize;

    &[data-type="ingredients"] {
      background: get-color('blue');
    }

    &[data-type="appliance"] {
      background: get-color('green');
    }

    &[data-type="ustensils"] {
      background: get-color('red');
    }

    button {
      margin-left: to-rem(10);
      cursor: pointer;
    }

    svg {
      pointer-events: none;
    }
  }
}

.options {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: to-rem(10);
  gap: to-rem(10) to-rem(10);

  &__select {
    border: none;
    border-radius: $default-border-radius;
    padding: 0;
    color: #fff;
    font-size: to-rem(18);

    @media all and (max-width: 768px) {
      min-width: 100%;
    }
  }
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: to-rem(30) to-rem(30);

  @media all and (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &[data-empty="true"] {
    grid-template-columns: 1fr;
    &::before {
      content: "Aucune recette ne correspond à votre critère... vous pouvez chercher « tarte aux pommes », « poisson », etc.";
      display: block;
   }
  }
}

.filters-container {
  position: relative;
  width: 100%;
  height: 70px;

  @media all and (max-width: 881px) {
    height: calc(70px * 2);
  }

  @media all and (max-width: 770px) {
    height: calc(70px * 3);
  }
}
