@import "config";

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base
*/

.recipe-card {
  &__container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: $default-border-radius;
  }
  &__cover {
    background: get-color('gray');
    width: 100%;
    aspect-ratio: 2/1;
  }

  &__content {
    padding: to-rem(20);
    background: get-color('light-gray');
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    width: 100%;
  }

  &__title {
    width: calc(70% - 5px);
    font-size: to-rem(18);
    font-weight: 400;
  }

  &__duration {
    width: calc(30% - 5px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: to-rem(5);
    font-weight: 500;
    font-size: to-rem(18);
  }

  &__ingredients,
  &__description {
    width: calc(50% - 5px);
    font-size: to-rem(12);
    font-weight: 400;
  }

  &__ingredients {
    &-name {
      font-weight: 500;
    }
  }

  &__description {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px; /* fallback */
    max-height: calc(16px * 5); /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

}
