@use 'config' as *;

.select-box {
    position: relative;
    color: #fff;
    border-radius: $default-border-radius;
    max-width: fit-content;
    overflow: hidden;

    &__trigger {
        display: inline-block;
        position: relative;
        width: 100%;

        input {
            padding: to-rem(25) to-rem(40) to-rem(25) to-rem(15);
            text-align: left;
            width: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            right: to-rem(15);
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            transition: transform 0.3s;
            width: to-rem(5);
            height: to-rem(5);
            border-top: to-rem(2) solid get-color('white');
            border-left: to-rem(2) solid get-color('white');
            z-index: 2;
        }
    }

    &__list {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: to-rem(340);
        gap: to-rem(10) 0;
        padding: to-rem(10) 0;
        min-width: max-content;
        overflow-x: auto;
    }

    &__item {
        cursor: pointer;
        position: relative;
        padding: to-rem(0) to-rem(15);
        min-width: to-rem(170);
        font-size: to-rem(16);
        text-align: left;
        text-transform: capitalize;

        &.is-disabled {
            display: none;
        }
    }

    &__search-input {
        font-size: to-rem(16);
    }
}

.is-open.select-box {
    max-width: calc(100% - 2 * (277px + 0.625rem));
    flex: max-content;
    .select-box {
        &__list {
            display: flex;
        }

        &__trigger {
            &::after {
                transform: translateY(-50%) rotate(225deg);
            }
        }
    }
}
