@charset "UTF-8";
/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Functions
  • Colors
  • UI sets
  • Base
*/
/*
  • Functions
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • Colors
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • UI sets
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • Base
  ---------- ---------- ---------- ---------- ----------
*/
body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

input,
button {
  border: none;
  background: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.bg-primary {
  background-color: #D04F4F;
}

.bg-red {
  background-color: #ED6454;
}

.bg-blue {
  background-color: #3282F7;
}

.bg-green {
  background-color: #68D9A4;
}

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Functions
  • Colors
  • UI sets
  • Base
*/
/*
  • Functions
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • Colors
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • UI sets
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • Base
  ---------- ---------- ---------- ---------- ----------
*/
body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

input,
button {
  border: none;
  background: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.bg-primary {
  background-color: #D04F4F;
}

.bg-red {
  background-color: #ED6454;
}

.bg-blue {
  background-color: #3282F7;
}

.bg-green {
  background-color: #68D9A4;
}

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Base
*/
.recipe-card__container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 5px;
  height: 100%;
}
.recipe-card__cover {
  background: #C7BEBE;
  width: 100%;
  aspect-ratio: 2/1;
}
.recipe-card__content {
  padding: 1.25rem;
  background: #E7E7E7;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  width: 100%;
}
.recipe-card__title {
  width: calc(70% - 5px);
  font-size: 1.125rem;
  font-weight: 400;
}
.recipe-card__duration {
  width: calc(30% - 5px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.3125rem;
  font-weight: 500;
  font-size: 1.125rem;
}
.recipe-card__ingredients, .recipe-card__description {
  width: calc(50% - 5px);
  font-size: 0.75rem;
  font-weight: 400;
}
.recipe-card__ingredients-name {
  font-weight: 500;
}
.recipe-card__description {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  /* fallback */
  max-height: 80px;
  /* fallback */
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.recipe-card.--is-hidden {
  display: none;
}

.select-box {
  position: relative;
  color: #fff;
  border-radius: 5px;
  max-width: fit-content;
  overflow: hidden;
}
.select-box__trigger {
  display: inline-block;
  position: relative;
  width: 100%;
}
.select-box__trigger input {
  padding: 1.5625rem 2.5rem 1.5625rem 0.9375rem;
  text-align: left;
  width: 100%;
}
.select-box__trigger::after {
  content: "";
  position: absolute;
  right: 0.9375rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.3s;
  width: 0.3125rem;
  height: 0.3125rem;
  border-top: 0.125rem solid;
  border-left: 0.125rem solid;
  z-index: 2;
}
.select-box__list {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 21.25rem;
  gap: 0.625rem 0;
  padding: 0.625rem 0;
  min-width: max-content;
  overflow-x: auto;
}
.select-box__item {
  cursor: pointer;
  position: relative;
  padding: 0rem 0.9375rem;
  min-width: 10.625rem;
  font-size: 1rem;
  text-align: left;
  text-transform: capitalize;
}
.select-box__item.--is-disabled {
  display: none;
}
.select-box__search-input {
  font-size: 1rem;
}

.--is-open.select-box {
  max-width: calc(100% - 2 * (277px + 0.625rem));
  flex: max-content;
}
.--is-open.select-box .select-box__list {
  display: flex;
}
.--is-open.select-box .select-box__trigger::after {
  transform: translateY(-50%) rotate(225deg);
}

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Functions
  • Colors
  • UI sets
  • Base
*/
/*
  • Functions
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • Colors
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • UI sets
  ---------- ---------- ---------- ---------- ----------
*/
/*
  • Base
  ---------- ---------- ---------- ---------- ----------
*/
body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
svg {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

input,
button {
  border: none;
  background: none;
  color: inherit;
}

input:focus {
  outline: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1rem;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.bg-primary {
  background-color: #D04F4F;
}

.bg-red {
  background-color: #ED6454;
}

.bg-blue {
  background-color: #3282F7;
}

.bg-green {
  background-color: #68D9A4;
}

/*
  Index
  ---------- ---------- ---------- ---------- ----------
  • Header
*/
/*
  • Header
  ---------- ---------- ---------- ---------- ----------
*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 0.9375rem;
}
header .logo {
  max-width: 270px;
}
header .logo svg {
  height: 90px;
  width: auto;
}

.search__bar {
  display: flex;
  position: relative;
  background: #E7E7E7;
  padding: 0.9375rem;
  border-radius: 5px;
  color: #C7BEBE;
}
.search__bar button {
  border: none;
  background: none;
  margin-left: 0.3125rem;
}
.search__bar button svg {
  width: 1.875rem;
  height: 1.875rem;
}
.search__bar input {
  border: none;
  background: none;
  width: 100%;
  padding: 0;
  font-size: 1rem;
  color: #000;
  outline: none;
}
.search__bar input::placeholder {
  color: #C7BEBE;
}

.active-tags {
  margin: 0.625rem 0;
}
.active-tags__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem 0.625rem;
}
.active-tags__item {
  border-radius: 5px;
  color: #fff;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.active-tags__item[data-type=ingredients] {
  background: #3282F7;
}
.active-tags__item[data-type=appliance] {
  background: #68D9A4;
}
.active-tags__item[data-type=ustensils] {
  background: #ED6454;
}
.active-tags__item button {
  margin-left: 0.625rem;
  cursor: pointer;
}
.active-tags__item svg {
  pointer-events: none;
}

.options {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 0.625rem;
  gap: 0.625rem 0.625rem;
}
.options__select {
  border: none;
  border-radius: 5px;
  padding: 0;
  color: #fff;
  font-size: 1.125rem;
}
@media all and (max-width: 768px) {
  .options__select {
    min-width: 100%;
  }
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.875rem 1.875rem;
}
.recipes .--is-disabled {
  display: none;
}
@media all and (max-width: 992px) {
  .recipes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (max-width: 768px) {
  .recipes {
    grid-template-columns: 1fr;
  }
}

.filters-container {
  position: relative;
  width: 100%;
  height: 70px;
}
@media all and (max-width: 881px) {
  .filters-container {
    height: 140px;
  }
}
@media all and (max-width: 770px) {
  .filters-container {
    height: 210px;
  }
}

/*# sourceMappingURL=style.css.map */
